 <% if(duplicate && duplicate.length) { %>
       <div class="d-flex justify-content-center">
        <div class="alert alert-danger alert-dismissible fade show w-75 " role="alert">
            <%= duplicate %> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        </div>
        <% } %>   
 <% if(duplicateModel && duplicateModel.length) { %>
       <div class="d-flex justify-content-center">
        <div class="alert alert-danger alert-dismissible fade show w-75 " role="alert">
            <%= duplicateModel %> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        </div>
        <% } %>   
        <% if(duplicateBrand && duplicateBrand.length) { %>
       <div class="d-flex justify-content-center">
        <div class="alert alert-danger alert-dismissible fade show w-75 " role="alert">
            <%= duplicateBrand %> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        </div>
        <% } %>   
 <% if(addedBrand && addedBrand.length) { %>
       <div class="d-flex justify-content-center">
        <div class="alert alert-success alert-dismissible fade show w-75 " role="alert">
            <%= addedBrand %> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        </div>
        <% } %>   
         <% if(addedModel && addedModel.length) { %>
       <div class="d-flex justify-content-center">
        <div class="alert alert-success alert-dismissible fade show w-75 " role="alert">
            <%= addedModel %> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        </div>
        <% } %>   
         <% if(addedVariant && addedVariant.length) { %>
       <div class="d-flex justify-content-center">
        <div class="alert alert-success alert-dismissible fade show w-75 " role="alert">
            <%= addedVariant %> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        </div>
        <% } %>   
           <% if(addedColor && addedColor.length) { %>
       <div class="d-flex justify-content-center">
        <div class="alert alert-success alert-dismissible fade show w-75 " role="alert">
            <%= addedColor %> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        </div>
        <% } %>   
         <% if(duplicateColor && duplicateColor.length) { %>
       <div class="d-flex justify-content-center">
        <div class="alert alert-danger alert-dismissible fade show w-75 " role="alert">
            <%= duplicateColor %> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
     <% } %>  
        <% if(deleteBrand && deleteBrand.length) { %>
       <div class="d-flex justify-content-center">
        <div class="alert alert-success alert-dismissible fade show w-75 " role="alert">
            <%= deleteBrand %> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
     <% } %>  
      <% if(deleteModel && deleteModel.length) { %>
       <div class="d-flex justify-content-center">
        <div class="alert alert-success alert-dismissible fade show w-75 " role="alert">
            <%= deleteModel %> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
     <% } %>  
      <% if(deleteVariant && deleteVariant.length) { %>
       <div class="d-flex justify-content-center">
        <div class="alert alert-success alert-dismissible fade show w-75 " role="alert">
            <%= deleteVariant %> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
     <% } %>  
      <% if(deleteColor && deleteColor.length) { %>
       <div class="d-flex justify-content-center">
        <div class="alert alert-success alert-dismissible fade show w-75 " role="alert">
            <%= deleteColor %> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
     <% } %>  
      <% if(errorBrand && errorBrand.length) { %>
       <div class="d-flex justify-content-center">
        <div class="alert alert-danger alert-dismissible fade show w-75 " role="alert">
            <%= errorBrand %> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
     <% } %>  
      <% if(errorModel && errorModel.length) { %>
       <div class="d-flex justify-content-center">
        <div class="alert alert-danger alert-dismissible fade show w-75 " role="alert">
            <%= errorModel %> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
     <% } %>  
      <% if(errorVariant && errorVariant.length) { %>
       <div class="d-flex justify-content-center">
        <div class="alert alert-danger alert-dismissible fade show w-75 " role="alert">
            <%= errorVariant %> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
     <% } %>  
      <% if(errorColor && errorColor.length) { %>
       <div class="d-flex justify-content-center">
        <div class="alert alert-danger alert-dismissible fade show w-75 " role="alert">
            <%= errorColor %> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
     <% } %>  
      <% if(updatedBrand && updatedBrand.length) { %>
       <div class="d-flex justify-content-center">
        <div class="alert alert-success alert-dismissible fade show w-75 " role="alert">
            <%= updatedBrand %> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
     <% } %>  
      <% if(updatedModel && updatedModel.length) { %>
       <div class="d-flex justify-content-center">
        <div class="alert alert-success alert-dismissible fade show w-75 " role="alert">
            <%= updatedModel %> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
     <% } %>  
      <% if(updatedVariant && updatedVariant.length) { %>
       <div class="d-flex justify-content-center">
        <div class="alert alert-success alert-dismissible fade show w-75 " role="alert">
            <%= updatedVariant %> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
     <% } %>  
     <% if(updatedColor && updatedColor.length) { %>
       <div class="d-flex justify-content-center">
        <div class="alert alert-success alert-dismissible fade show w-75 " role="alert">
            <%= updatedColor %> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
     <% } %>  